.mainPage {
  padding: 10%;
  background-image: linear-gradient(#ffc2a0, #ff8542);
}
.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
}
.heading {
  text-align: center;
  color: #ff0b37;
}
.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
